.container
{
    display:table;
    width: 100%;
    margin-bottom: 20px;
}

.col-sm-4
{
    display: table-cell;
}

#boxHeader
{
	color: white;
	background-color:  #606060;
	text-align: left;
	font-size: 100%;
	padding: 10px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#boxQuarter
{
	color: #606060;
	background-color:   #CCCCCC;
	text-align: left;
	font-size: 100%;
	padding: 10px;
	margin-top: -10px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

 body
 {
 	background-color: #ECECEC;
 }

 img
 {
 	margin-top: 10px;
 	width: 120px;
 	height: 120px;
 }

#one, #two, #three, #four
{
	background-color: #7A0026;
	color: white;
	text-align: left;
	height: 150px;
	padding: 10px;
	text-indent: 50px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	box-shadow: 0 8px 6px -6px black;
	margin-bottom: -1px;
}

.subText
{
	color: black;
	text-align: left;
	font-size: 60%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.banner
{
	background-color: #ECECEC;
}

.welcome
{
	font-size: 30px;
	margin-top: 10px;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #606060;
}

.welcomeSubText
{
	margin-top: -30px;
	text-align: center;
	color: #606060;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


.center-pills 
{
	margin-top: 0px;
    display: flex;
    justify-content: center;
    color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.nav-tabs
a{
	color: #606060;
}

.active a{
    color: white !important;
	background-color: #7A0026 !important;
  }